<div class="phone-row" [class.is-invalid]="showError()">
  <mat-form-field appearance="outline" subscriptSizing="dynamic" class="code-field">
    <mat-label>{{ codeLabel() }}</mat-label>
    <mat-select
      [value]="dial()"
      [disabled]="disabled()"
      panelClass="country-panel"
      (selectionChange)="onDialChange($event.value)"
      (closed)="onPanelClosed()"
      aria-label="Country dial code"
    >
      <mat-select-trigger>
        <img
          class="trigger-flag-img"
          [src]="selectedCountry()?.flagSvg ?? 'https://flagcdn.com/in.svg'"
          [alt]="selectedCountry()?.name || 'Country flag'"
          width="20"
          height="15"
        />
        <span class="trigger-dial">{{ dial() }}</span>
      </mat-select-trigger>

      <div
        class="country-search"
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()"
      >
        <input
          type="text"
          class="country-search-input"
          placeholder="Search country..."
          [value]="search()"
          (input)="onSearch($event)"
        />
      </div>

      @for (country of filteredCountries(); track country.code) {
        <mat-option [value]="country.dial">
          <img
            class="opt-flag-img"
            [src]="country.flagSvg"
            [alt]="country.name"
            width="20"
            height="15"
            loading="lazy"
          />
          <span class="opt-dial">{{ country.dial }}</span>
          <span class="opt-sep">-</span>
          <span class="opt-name">{{ country.name }}</span>
        </mat-option>
      } @empty {
        <div class="country-empty">No country found</div>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" subscriptSizing="dynamic" class="number-field">
    <input
      matInput
      type="tel"
      [id]="inputId()"
      [value]="number()"
      [placeholder]="placeholder()"
      [disabled]="disabled()"
      (input)="onNumberChange($event)"
      (blur)="markTouched()"
      autocomplete="off"
    />
  </mat-form-field>
</div>
