@if (isOpen()) {
  <div class="modal-backdrop" (click)="onBackdropClick($event)">
    <div class="modal-dialog" [class]="'modal-' + size()" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h3 class="modal-title">{{ title() }}</h3>
        @if (closable()) {
          <button type="button" class="close-btn" (click)="close.emit()" aria-label="Close modal">
            <lucide-icon name="x" [size]="18"></lucide-icon>
          </button>
        }
      </div>

      <div class="modal-body">
        <ng-content></ng-content>
      </div>

      @if (hasFooter()) {
        <div class="modal-footer">
          <ng-content select="[footer]"></ng-content>
        </div>
      }
    </div>
  </div>
}
